<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">لیست محصولات</h2>
        </div>
        <div class="col-6 text-start">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-outline-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; ایجاد محصول جدید
            </a>
        </div>
    </div>

    <br />
    <br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>عنوان</th>
                <th>ISBN</th>
                <th>قیمت</th>
                <th>نویسنده</th>
                <th>دسته بندی</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}